<!DOCTYPE html>
<html lang="ru" data-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/dark_mode.css' %}">
    <script src="{% static 'admin/js/theme.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'admin/css/nav_sidebar.css' %}">
    <script src="{% static 'admin/js/nav_sidebar.js' %}" defer=""></script>
    <link rel="stylesheet" href="{% static 'admin/css/login.css' %}">
    <link rel="stylesheet" href="/static/admin/css/responsive.css">
    <meta name="robots" content="NONE,NOARCHIVE">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="login" data-admin-utc-offset="0" wdf-invisible="true">
<a href="#content-start" class="skip-to-content-link">Skip to main content</a>
    {% block content %}{% endblock %}
</body>
</html>
