{% extends "base.html" %}
{% load user_filters %}
{% block title %}Новый пароль{% endblock %}
{% block content %}

{% if validlink %}
<div id="container">
    <div id="header">
        <div id="branding">
            <h1 id="site-name">
                Введите новый пароль
            </h1>
            <button class="theme-toggle">
                <div class="visually-hidden theme-label-when-auto">Toggle
                    theme (current theme: auto)
                </div>
                <div class="visually-hidden theme-label-when-light"
                     wfd-invisible="true">Toggle theme (current theme:
                    light)
                </div>
                <div class="visually-hidden theme-label-when-dark"
                     wfd-invisible="true">Toggle theme (current theme:
                    dark)
                </div>
                <svg aria-hidden="true" class="theme-icon-when-auto"
                     xmlns="http://www.w3.org/2000/svg" height="48"
                     viewBox="0 -960 960 960" width="48">
                    <path d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm20-60q137-10 228.5-106T820-480q0-138-91.5-234T500-820v680Z"/>
                </svg>
                <svg aria-hidden="true" class="theme-icon-when-dark"
                     wfd-invisible="true"
                     xmlns="http://www.w3.org/2000/svg" height="48"
                     viewBox="0 -960 960 960" width="48">
                    <path d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q8 0 17 .5t23 1.5q-36 32-56 79t-20 99q0 90 63 153t153 63q52 0 99-18.5t79-51.5q1 12 1.5 19.5t.5 14.5q0 150-105 255T480-120Zm0-60q109 0 190-67.5T771-406q-25 11-53.667 16.5Q688.667-384 660-384q-114.689 0-195.345-80.655Q384-545.311 384-660q0-24 5-51.5t18-62.5q-98 27-162.5 109.5T180-480q0 125 87.5 212.5T480-180Zm-4-297Z"/>
                </svg>
                <svg aria-hidden="true" class="theme-icon-when-light"
                     wfd-invisible="true"
                     xmlns="http://www.w3.org/2000/svg" height="48"
                     viewBox="0 -960 960 960" width="48">
                    <path d="M450-810v-110h60v110h-60Zm0 770v-110h60v110h-60Zm360-410v-60h110v60H810Zm-770 0v-60h110v60H40Zm702-250-43-43 66-66 43 43-66 66ZM195-151l-43-43 66-66 43 43-66 66Zm570 0-66-66 43-43 66 66-43 43ZM218-700l-66-66 43-43 66 66-43 43Zm261.824 445Q386-255 320.5-320.676q-65.5-65.677-65.5-159.5Q255-574 320.676-639.5q65.677-65.5 159.5-65.5Q574-705 639.5-639.323 705-573.647 705-479.824 705-386 639.323-320.5 573.647-255 479.824-255Zm.11-60Q549-315 597-362.934t48-117Q645-549 597.066-597t-117-48Q411-645 363-597.066t-48 117Q315-411 362.934-363t117 48ZM480-480Z"/>
                </svg>
            </button>
        </div>
    </div>
    <div class="main" id="main">
        <div id="content-start" class="content" tabindex="-1">
            <div id="content" class="colM">
                <div id="content-main">
                    {% include "includes/form_errors.html"%}
                    <form method="post" id="login-form"
                          {% if action_url %}
                          action="{% url action_url %}"
                          {% endif %}
                    >
                        {% include "includes/form.html"%}
                    </form>
                </div>
                <br class="clear">
            </div>
        </div>
    </div>
</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{
        message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% else %}
<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header">Ошибка</div>
            <div class="card-body">
                <p>Ссылка установки пароля содержит ошибку или
                    устарела.</p>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
