{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css"
      href="{% static 'admin/css/login.css' %}"/>
{{ form.media }}

<style type="text/css">
    input#id_otp_token,
    select#id_otp_device
    {
        clear: both;
        padding: 6px;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
</style>
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Новый пароль</a></h1>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}

{% if validlink %}
<div class="main" id="main">
    <div id="content-start" class="content" tabindex="-1">
        <div id="content" class="colM">
            <div id="content-main">
                {% if user.is_authenticated %}
                <p class="errornote">
                    {% blocktrans trimmed %}
                    You are authenticated as {{ username }}, but are not
                    authorized to
                    access this page. Would you like to login to a
                    different account?
                    {% endblocktrans %}
                </p>
                {% endif %}

                {% include "includes/form_errors.html"%}
                <form method="post" id="login-form"
                      {% if action_url %}
                      action="{% url action_url %}"
                      {% endif %}
                >
                    {% include "includes/form.html"%}
                </form>

                <script type="text/javascript">
                    document.getElementById('id_username').focus()
                </script>
            </div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% else %}
            <div class="row justify-content-center">
                <div class="col-md-8 p-5">
                    <div class="card">
                        <div class="card-header">Ошибка</div>
                        <div class="card-body">
                            <p>Ссылка установки пароля содержит ошибку или
                                устарела.</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
